@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/PretendardVariable.woff2");
}
body {
  margin: 0;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div {
  background-image: url();
}

.swiper-container {
  background-color: #333333;
  height: 400px;
  width: 100%;
}

.swiper-slide {
  background-image: url(../pages/money.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
